.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error {
    color: red;
}