.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  margin: 60px auto;

  .sidebar {
    width: 20%;
    min-width: 150px;
    height: 800px;
    background: #5d6872;
    border-radius: 8px 0 0 8px;

    .doubleRange {
      padding: 10px 20px;
    }

    .minMaxRange {
      display: flex;
      justify-content: space-between;
      padding: 0 14px;
      font-weight: bold;
    }
  }
}