.tableContainer {
  width: 100%;
  height: 800px;
  background: #5f6a72;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  filter: drop-shadow(0px 14px 14px rgba(45, 46, 70, 0.15));

  .backArrow {
    cursor: pointer;
    width: 90%;
    margin-top: 20px;
    display: flex;
    color: white;
    &:hover{
      color: #61dafb;
    }
  }
  .headerTableContainer {
    width: 90%;
    height: 48px;
    background-color: #2c3c41;
    align-items: center;
    grid-gap: 0 30px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.1fr 0.5fr;
    @media screen and (max-width: 600px) {
      grid-template-columns:0.2fr 0.5fr 0.1fr 0.2fr;
    }
    .tableHeaderItem {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80%;
      cursor: pointer;

      @media screen and (max-width: 600px) {
        font-size: 12px;
      }

      .arrowUp {
        width: 6px;
        height: 6px;
        border-top: 1px solid #f8f8f8;
        border-right: 1px solid #e0dde3;
        margin-left: 6px;
        transform: rotate(-45deg);
      }

      .arrowDown {
        width: 6px;
        height: 6px;
        border-top: 1px solid #f8f8f8;
        border-right: 1px solid #e0dde3;
        margin-left: 6px;
        transform: rotate(135deg);
      }

      &:hover {
        background-color: #595f62;
        border-radius: 8px;
      }
    }

  }
  .itemsWrapper {
    width: 90%;
    margin-bottom: 14px;
    background-color: #2c3c41;
    border-radius: 0 0 8px 8px;
    flex-grow: 1;
    text-align: left;
    font-size: 14px;
    line-height: 16px;
    overflow: auto;
  }

  .itemsWrapper::-webkit-scrollbar {
    width: 4px;
    background-color: #595f62;
  }

  .itemsWrapper::-webkit-scrollbar-thumb {
    background-color: #cbd3d5;
  }
}