.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #5e6972;
  padding:0 10px;
.title{
  font-size: 20px;
  //font-weight: bold;
  color: #ffffff;
}
  .nav {
    display: flex;
    .item {

      font-size: 20px;
      font-weight: bold;
      padding: 15px 10px;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        color: #dae0e1;

      }

      .active {
        color: #313133;
      }

    }
  }

}


