.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #5a6062;
    border: 2px solid white;
    border-radius: 8px;
    margin-bottom: 20px;
}

.item {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 10px;
}

.item a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #dae0e1;
}

.item a.active {
    color: #313133;
}
