.btnBlock {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.btn {
    padding: 15px 25px;
    border-radius: 5px;
    border: 1px solid lightskyblue;
    background-color: lightskyblue;
    color: #2c3c41;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s ease;
}

.btn:hover {
    background-color: #2c3c41;
    color: lightskyblue;
    border: 1px solid #2c3c41;
}

.inputUpdate {
    font-size: 18px;
    padding: 6px 10px;
    line-height: 1.5;
    width: 80%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #5f6a72;
}