.itemsCardsBlock {
  background-color: #2c3c41;
  align-items: center;
  grid-gap: 0 30px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.3fr 0.3fr;
  padding: 16px 24px;


  .tableItem {
    color: white;
    word-break: break-all;
  }

  .tableItemButton {
    display: flex;
    justify-content: center;
    width: 200px;
  }
}

.itemsPacksBlock {
  background-color: #2c3c41;
  align-items: center;
  grid-gap: 0 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 150px 200px;
  margin: 15px 0;
  @media screen and (max-width: 900px) {
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 1fr;
  }

  .tableItemName {
    text-align: center;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  @media screen and (max-width: 900px) {
      word-break: break-all;
      text-align: center;

      overflow: hidden;
    }

    &:hover {
      overflow: visible;
      font-weight: bold;
    }
  }

  .tableItem {
    text-align: center;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    @media screen and (max-width: 900px) {
      text-align: center;
      white-space: pre-wrap;
      overflow: hidden;
    }
  }

  .tableItemButton {
    display: flex;
    justify-content: center;
  }
}